ajaxuploader==0.3.8
bootstrap-admin==0.3.6
cmsplugin-twitter==1.0.4
Django==1.8.4
django-admin-bootstrapped==2.5.6
django-ajaximage==0.2.8
django-bootstrap3==6.2.2
django-classy-tags==0.7.0
django-cms==3.2.0
django-crispy-forms==1.5.2
django-file-form==0.1.7
django-formtools==1.0
django-registration-redux==1.2
django-sekizai==0.9.0
django-treebeard==3.0
djangocms-admin-style==1.0.8
djangocms-twitter==0.0.5
html5lib==0.9999999
pathlib==1.0.1
Pillow==3.0.0
pluggy==0.3.1
psycopg2==2.6.1
py==1.4.31
six==1.10.0

