{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}




     
{% block jumbotron %}
 <!--  :::  HOME SLIDER ::: -->
<section id="slides" class="BGdark slides2">
    
        <img class="img-responsive" src="/static/img/frontslide.jpg" alt="" />
        <div class="symbol">
            <div class="absShape text-center">
                <h1>Tiny Spot<small>Share your tiny house story.</small></h1>
            </div>
        </div>
     
</section>
{% endblock %}






{% block content %}


    <form action="~/media/" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
    
        <div class="fallback">
            <inputtype="hidden" value="" id="Files" name="Files" />
            <input type="submit" value="Upload" />
        </div>

    </form>
<div class="container">
    <div class="col-md-6 col-sm-6 col-xs-12 content-box wow fadeInLeft text-align-center">
<a class="btn btn-primary" href="#">Submit<span class="glyphicon glyphicon-chevron-right"></span></a>

 </div>
</div>

<div class="row">
    <div class="col-md-7">
        <a href="#">
            <img class="img-responsive" src="/static/img/post1.jpg" alt="">
        </a>
    </div>
    <div class="col-md-5">
        <h3>WHAT A YEAR!</h3>
        <h5>Thurs, Dec 31st, 2015</h5>
        <p>Dan and I sincerely hope you all have had great holidays shared with loved ones. We certainly have had our share of cheer, as we attended a string of holiday parties from November until now. We house sat during Thanksgiving week and hosted our own "Danksgiving". We attended Ugly Sweater parties (I won, I might add) and annual family Christmas parties. It's always nice to be amongst a bustling and happy group of those close to you. Not a whole lot has happened on the Pod, but what little progress was made-- was sweet, succulent visual progress. We finished the recycled pallet siding on three of the sides of the Pod! Thankfully, for my sanity mostly, you cannot see the fourth (still naked) wall. </p>
        <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
        <!-- /.row -->

<hr>

<!-- Project Two -->
<div class="row">
    <div class="col-md-7">
        <a href="#">
            <img class="img-responsive" src="/static/img/post2.jpg" alt="">
        </a>
    </div>
    <div class="col-md-5">
        <h3>Pallet Siding</h3>
        <h5>Wed, Dec 16th, 2015</h5>
        <p>Not only did this give us a good head-start on saving tons of money during the build, but it also helped to keep us grounded. Our society tends to operate on a “use and dispose” ideology which is causing tons of problems for landfills (pun intended) and the environment in general. The most labor intensive aspect of our build was our pallet siding. A few weeks ago we resumed work on our siding and almost finished three of the four walls. We are still debating whether or not to use pallet siding for the back wall. We still need to stain what we've put up but it feels good to have more of it done. 
</p>
        <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<!-- /.row -->
<hr>

{% endblock %}

